/* Container for the custom select component */
.customSelectContainer {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selectLabel {
  margin-bottom: 5px;
  color: #343a40;
  font-size: 14px;
  font-family: "FiraGO", sans-serif;
  line-height: 100%;
}

/* Styling for each option row */
.itemRow {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 14px;
}

.itemAvatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

/* Styling for the selected value display */
.singleValueRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
}

/* react-select custom classes for control and menu */
.customSelect__control {
  font-size: 14px;
}

.customSelect__menu {
  font-size: 14px;
}

/* Option states */
.customSelect__option {
  cursor: pointer;
}

.customSelect__option--is-focused {
  background-color: #f1f1f1;
}

.customSelect__option--is-selected {
  background-color: #ddd2ff;
}
