.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.detailsPage {
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.taskHeader {
  width: 715px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 40px;
  margin-left: 100px;
}

.taskHeaderContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.taskHeaderTop {
  display: flex;
  align-items: center;
  gap: 12px;
}

.priorityName {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-radius: 5px;
  font-family: "FiraGO", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.priorityIcon {
  width: 16px;
  height: 18px;
}

.departmentName {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 15px;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.taskTitle {
  width: 100%;
  font-family: "FiraGO", sans-serif;
  font-weight: 600;
  font-size: 34px;
  color: #212529;
}

.taskDescription {
  margin-top: 26px;
  width: 100%;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #343a40;
}
.detailsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 493px;
  height: 277px;
  margin-left: 100px;
}

.spanContainer {
  font-family: "FiraGo", sans-serif;
  width: 493px;
  height: 70px;
  display: flex;
  align-items: flex-end;
  gap: 70px;
  font-weight: 300;
}
.span {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 164px;
  height: 24px;
  gap: 6px;
  text-wrap: nowrap;
}
.selectWrapper {
  margin-right: 5px;
  width: 259px;
  height: 45px;
  display: flex;
  align-items: flex-start;
}

.detailsHeader {
  font-family: "FiraGo", serif;
  font-size: 24px;
  height: 49px;
  text-align: left;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}
.employeeCard {
  position: relative;
  width: 100%;
  height: 41px;
}
.avatarName {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  height: 32px;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0%;
}
.date {
  width: 100%;
  color: #0d0f10;
  font-weight: 400;
  font-size: 14px;
}
.avatar {
  margin-left: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.employeeDepartment {
  width: 135px;
  height: 13px;
  border-radius: 5px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 25%;
  color: #474747;
  font-family: "FiraGo", serif;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 11px;
  font-weight: 300;

  text-wrap: nowrap;
  text-align: left;
}
.commentSection {
  margin-right: 120px;
  margin-top: 40px;
}
